# Anscombe's Quartet - An analysis of Anscombes Quartet Dataset

![title](Images/1datasaurus.png)

In this assignment I will be looking at Anscombes Quartet Dataset. I hope to:

1) Explain the background of the dataset, who created it, when it was created and speculate how it might have been created.

2) Using python and it's various libraries, plot interesting aspects of the dataset.

3) Calculate the descriptive statistics of the variables in the dataset.

4) Explain why the dataset is interesting based on my findings.

## What is Anscombe's Quartet?

Anacombes's Quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. They were constructed in 1973 by statistician Francis Anscombe in his paper "Graphs and Statistical Analysis", to demonstrate both the importance of graphing data before analyzing it and the effect of outliers on statistical properties.

## The Man Behind the Data

Francis John Anscombe, was a mathematician born in England in 1918. Educated at Cambridge University on a scolarship, he received a degree in mathematics in 1939 and a master's degree in 1943. He helped to computerize statistical analyses while seeking to avoid flawed interpretations of such data. In addition to publishing 50 research articles, he wrote a classic text "Computing in Statistical Science Through APL". He was emphatic in cautioning against misdiagnosing and misapplying computer models without obtaining the necessary proof. He detailed the need for great care in a paper in 1973 by demonstrating how one equation could neatly fit four different sets of data (Anscombe's Quartet Dataset).

In [2]:
# Upload the Python packages I plan on using

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

## The Data Set

In [3]:
# Load Anscombe's Dataset Quartet from a url.

df = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/anscombe.csv")

In [4]:
df

    Unnamed: 0  x1  x2  x3  x4     y1    y2     y3     y4
0            1  10  10  10   8   8.04  9.14   7.46   6.58
1            2   8   8   8   8   6.95  8.14   6.77   5.76
2            3  13  13  13   8   7.58  8.74  12.74   7.71
3            4   9   9   9   8   8.81  8.77   7.11   8.84
4            5  11  11  11   8   8.33  9.26   7.81   8.47
5            6  14  14  14   8   9.96  8.10   8.84   7.04
6            7   6   6   6   8   7.24  6.13   6.08   5.25
7            8   4   4   4  19   4.26  3.10   5.39  12.50
8            9  12  12  12   8  10.84  9.13   8.15   5.56
9           10   7   7   7   8   4.82  7.26   6.42   7.91
10          11   5   5   5   8   5.68  4.74   5.73   6.89

In [ ]:
# A look at the descriptive statistics of the variables in the dataset.